<a href="https://colab.research.google.com/github/sksjw95/2_2-pyhon/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2**10

1024

In [ ]:
import numpy as np
x= np.arange(-10,11)
x
y = 4*x+7
x1 = x[x<0]
x1

array([-10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1])

In [ ]:
7/5

1.4

In [ ]:
type("python")
type(2.712)

float

In [ ]:
a = [1,2,3,4,5]
a[0:2]
a[0:4]
a[:3]
a[:-1]
a[:-2]
a[:-3]
a[-3:]

[3, 4, 5]

In [ ]:
me = {'height':180,'weight':70}
me['height']
me['weight']
me['age']=30
print(me)

{'height': 180, 'weight': 70, 'age': 30}

In [ ]:
import pandas as pd
import numpy as np

d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)
df.head()

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20

In [ ]:
hungry = True
if hungry:
    print("Im hungry")
else:
    print("Im not hungry")
    print("Im sleepy")

Im hungry

In [ ]:
for i in [1,2,3]:
    print(i)

1
2
3

In [ ]:
name = ['a','b','c','d','e']
for i in name:
    print(i)

a
b
c
d
e

In [ ]:
sum = 0
for i in range(10):
    sum =sum+i

print(sum)

45

In [ ]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def hello():
    print("Hello World")
    print("Welcome to Python class")
hello()

def hello2(object):
    print("Hello "+object+" !")

hello2("Jang")

Hello World
Welcome to Python class
Hello Jang !

In [ ]:
class Man:
    def __init__(self,name):
        self.name = name
        print("Initialized !")
    def hello(self):
        print("Hello "+self.name+" !")
    def goodbye(self):
        print("Good-bye "+ self.name+" !")

m = Man("David")
m.hello()
m.goodbye()

Initialized !
Hello David !
Good-bye David !

In [ ]:
1/3

0.3333333333333333