<a href="https://colab.research.google.com/github/sksjw95/2_2-pyhon/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, world!")

Hello, world!

In [ ]:
name = "Tom"
height = 180.190

print("name: ", name, "Height: ",height,"cm")

name:  Tom Height:  (180, 190) cm

In [ ]:


print("Name: {}, Height: {}".format(name,height))

Name: Tom, Height: 180

In [ ]:
pi = 3.14159
print("Pi: {:.3f}".format(pi))

Pi: 3.142

In [ ]:
print(" Name: {1},Height: {0},".format(height, name))

 Name: Tom,Height: 180,

In [ ]:
name = "Tom"
height=180.1234
print(f"Name: {name}, height:{height:.1f}")

Name: Tom, height:180.1

In [ ]:
a= 5
b= 3

print(f"{a}+{b} = {a+b}")

5+3 = 8

In [ ]:
my_list =[0,1,2,3,4,5,6,7,8,9]
slice5=my_list[::-1]
print(slice5)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
my_mixed_list=[1,"hello",True,3.14]

print(my_mixed_list[0])
print(my_mixed_list[-3])
my_mixed_list[1] = "bye"
print(my_mixed_list[1])

1
hello
bye

In [ ]:
my_list2=[]
my_list2.append(1)
my_list2.append(2)
my_list2.append(3)

print("리스트: ",my_list2)

print("리스트의 길이: ",len(my_list2))

print("첫 번째 요소: ",my_list2[0] )

del my_list2[1]
for item in my_list2:
    print(item)

리스트:  [1, 2, 3]
리스트의 길이:  3
첫 번째 요소:  1
1
3

In [ ]:
student_scores=[]
num_students=5

for i in range(num_students):
    score = float(input(f"{i+1}번째 학생의 점수를 입력하세요"))
    student_scores.append(score)

print("\n 모든 학생의 점수:")
for score in student_scores:
    print(f"{score}")

total_score = sum(score for score in student_scores)
average_score = total_score/ num_students

print("\n 평균 점수: ",average_score)

1번째 학생의 점수를 입력하세요85
2번째 학생의 점수를 입력하세요65
3번째 학생의 점수를 입력하세요45
4번째 학생의 점수를 입력하세요90
5번째 학생의 점수를 입력하세요85

 모든 학생의 점수:
85.0
65.0
45.0
90.0
85.0

 평균 점수:  74.0

In [ ]:
mytuple =(1,2,3,4,5)
my_mixed_tuple =(1,"Hello",True,3.14)

print(mytuple[0])
print(my_mixed_tuple[1])

mytuple[0]=5
my_mixed_tuple[2]=3

1
Hello

TypeError: 'tuple' object does not support item assignment

In [ ]:
mytuple=(1,1,2,2,2,3,4,5)
print(mytuple.count(2))
print(mytuple.count(1))
print(mytuple.count(7))
print(mytuple.index(1))
print(mytuple.index(3))

3
2
0
0
5

In [ ]:
mytuple = 1,2,3,4
print(mytuple)
mytuple1 = (1,2,3,4)
x,y,z,w=mytuple1
print(x,y,z)

(1, 2, 3, 4)
1 2 3

In [ ]:
student1 =("John",20,"남성")
student2 =("Emily",22,"여성")
student3=("Michael",21,"남성")

students = [student1,student2,student3]

for student in students:
    print(f"이름: {student[0]}, 나이: {student[1]}, 성별: {student[2]}")

이름: John, 나이: 20, 성별: 남성
이름: Emily, 나이: 22, 성별: 여성
이름: Michael, 나이: 21, 성별: 남성

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
my_set = {1,2,3,4,5}
if 3 in my_set:
    print("3은 집합에 속합니다.")
else:
    print("3은 집합에 속하지 않습니다.")

if 6 in my_set:
    print("6은 집합에 속합니다.")
else:
    print("6은 집합에 속하지 않습니다.")

3은 집합에 속합니다.
6은 집합에 속하지 않습니다.

In [ ]:
myset3 = {1,2,3}
myset3.update({4,5,6})
print(myset3)
myset3.pop()

{1, 2, 3, 4, 5, 6}

1

In [ ]:
def count(sentence):
    words = set(sentence.split())

    return len(words)

test_sentence = "Python is a programming language. Python is easy to learn."
word_count = count(test_sentence)
print("문장에 포함된 단어 수: ",word_count)

문장에 포함된 단어 수:  8

In [ ]:
def commonelement(list1,list2):
    set1 = set(list1)
    set2 = set(list2)

    element = set1.intersection(set2)

    return element

list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]

elements = commonelement(list1,list2)
print("두 리스트에 공통으로 포함된 요소: ",elements)

두 리스트에 공통으로 포함된 요소:  {3, 4, 5}

In [ ]:
keys = ['apple','banana','cherry']
value=0
dict1 = dict.fromkeys(keys,value)
print(dict1)

{'apple': 0, 'banana': 0, 'cherry': 0}

In [ ]:
fruit = {'apple':5,'banana':3,'cherry':8}

remo = fruit.popitem()
print(fruit)

{'apple': 5, 'banana': 3}

In [ ]:
fruits_stock = {'apple':10,'banana':5,'cherry':8,'orange':12}
name = input("재고를 조회할 과일 이름을 입력하세요: ")

if name in fruits_stock:
    quantity = fruits_stock[name]
    print(f"{name}의 재고량은 {quantity}개 입니다.")
else:
    print(f"{name}은(는) 재고에 없습니다.")

재고를 조회할 과일 이름을 입력하세요: apple
apple의 재고량은 10개 입니다.

In [ ]:
'''x = -10

if x>0:
    print("x는 양수입니다.")'''

In [ ]:
text = ""

if text:
    print(" The string is not empty")
else:
    print("The string is empty")

The string is empty

In [ ]:
fruits = ["apple", "banana","cherry"]

if "apple" in fruits:
    print("Apple is in list")

Apple is in list

In [ ]:
x = -10
if x>0 :
    print("x는 양수입니다.")
else:
    print("양수가 아닙니다.")

양수가 아닙니다.

In [ ]:
number = 4

if number % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

In [ ]:
person = {"name": "Alice","age": 24}

if "address" in person:
    print("Address is a key in the dictionary")
else:
    print("Address is not a key in the dictionary")

Address is not a key in the dictionary

In [ ]:
x = 10
if x > 0:
    print("x는 양수입니다.")
elif x < 0:
    print("x는 음수입니다.")
else:
    print("x는 0입니다.")

x는 양수입니다.

In [ ]:
light = "green"

if light == "red":
    print("stop")
elif light == "yellow":
    print("caution")
elif light == "green":
    print("go")
else:
    print("Invalid light color")

go

In [ ]:
score = 85

if score >=  90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Grade: B

In [ ]:
age = 25
if age < 13:
    print("child")
elif age < 20:
    print("Teenager")
elif age < 65:
    print("Adult")
else:
    print("Senior")

Adult

In [ ]:
num = 0
while(num <10):
    num = int(input("Enter a number: "))
    print("You entered: ",num)

Enter a number: 11
You entered:  11

In [ ]:
max = 11
count = 1
while count <= max:
    if count == 1:
        print("I hit a tree %d time. " % count)
    else:
        print("I hit a tree %d time. " %count)
    count+=1
print("The tree is falling")

I hit a tree 1 time.
I hit a tree 2 time.
I hit a tree 3 time.
I hit a tree 4 time.
I hit a tree 5 time.
I hit a tree 6 time.
I hit a tree 7 time.
I hit a tree 8 time.
I hit a tree 9 time.
I hit a tree 10 time.
I hit a tree 11 time.
The tree is falling

In [ ]:
n=16
hex = ""
while n>0:
    k = n % 8
    x = ("%d" %k)
    hex = x + hex
    n = n//8

print(hex)

20

In [ ]:
max = 11
count = 1
while count <= max:
    if count == 1:
        print("I hit a tree %d time. " % count)
    else:
        print("I hit a tree %d time. " %count)
    count+=1
    if count > 5:
        break
if count < 10:
    print("I retire hitting the tree.")
else:
    print("The tree is falling")

I hit a tree 1 time.
I hit a tree 2 time.
I hit a tree 3 time.
I hit a tree 4 time.
I hit a tree 5 time.
I retire hitting the tree.

In [ ]:
i=0
n=8

while i<n:
    i+=1
    if i%2 ==0:
        continue
    print(i)

1
3
5
7

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
i = 0
while i< len(matrix):
    j = 0
    while j < len(matrix[i]):
        print(matrix[j][i])
        j+=1
    print()
    i += 1

1
4
7

2
5
8

3
6
9

In [ ]:
start = 10
end = 50
number = start

while number <= end:
    is_prime = True
    divisor = 2
    while divisor < number:
        if number % divisor == 0:
            is_prime = False
            break
        divisor += 1
    if is_prime and number > 1:
        print(number," is a prime number")
    number += 1

11  is a prime number
13  is a prime number
17  is a prime number
19  is a prime number
23  is a prime number
29  is a prime number
31  is a prime number
37  is a prime number
41  is a prime number
43  is a prime number
47  is a prime number

In [ ]:
myweek = "Hello, world"

for day in myweek:
    print(day)

H
e
l
l
o
,

w
o
r
l
d

In [ ]:
scores = [87,54,61,49,90,85,55,74,68,51]
count = 0
for s in scores:
    if s >= 60:
        count +=1
print(count)

6

In [ ]:
keys = ["name","age","city"]
values = ["Alice",30,"New York"]

person = {}

for key,value in zip(keys,values):
    person[key] = value

print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

row_sums = []
for row in matrix:
    row_sum = 0
    for num in row:
        row_sum += num
    row_sums.append(row_sum)

print("Sum of each row:",row_sums)

Sum of each row: [6, 15, 24]

In [ ]:
target = 10
pairs= []

for i in range(target):
    for j in range(i,target):
        if i+j == target:
            pairs.append((i,j))
    if(i == target/2):
        break
print(f"Pairs that add up to {target}:{pairs}")

Pairs that add up to 10:[(1, 9), (2, 8), (3, 7), (4, 6), (5, 5)]